
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/ArrayRotation.1522888379210.pdom
.metadata/.plugins/org.eclipse.cdt.core/ArrayRotation.language.settings.xml
